{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css?h=a8e7fe0865a07519472bbde9d8f4d139">
    <link rel="stylesheet" href="/static/css/my_css.css">

</head>

<body>
    <div class="container">
        <header>
            <h1>Sentiment Analysis</h1>
        </header>
        <form id = "sent_form" method="POST">
            {% csrf_token %}
            <hr><input type="text" name = 'sentiment' id="my_input">
            <br><br>
            <button class = "submit_button" class="btn btn-primary" type ="submit">SUBMIT</button>
            <br>
            <div class="card"></div>
        </form>
        <div class="container">
            <div class="row">
              <div class="col">
                  <header>
                      <h3>POSITIVE</h3>
                  </header>
                <p id='pos'></p>
              </div>
              <div class="col">
                  <header>
                      <h3>NEUTRAL</h3>
                  </header>
                <p id = 'neu'></p>
              </div>
              <div class="col">
                <header>
                    <h3>NEGATIVE</h3>
                </header>
                <p id = 'neg'></p>
              </div>
            </div>
          </div>
        <div class="card"></div>
        <hr>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/my_js.js' %}"></script>
</body>

</html>